@import 'tailwindcss';

@source not inline('container');

@theme {
  --color-text: #bfc1c4;
  --color-text-accent-lime: #b3df72;
  --color-text-accent-lime-bolder: #d3f1a7;
  --color-text-accent-red: #fd9891;
  --color-text-accent-red-bolder: #ffd5d2;
  --color-text-accent-orange: #fbc828;
  --color-text-accent-orange-bolder: #fce4a6;
  --color-text-accent-yellow: #eed12b;
  --color-text-accent-yellow-bolder: #f5e989;
  --color-text-accent-green: #7ee2b8;
  --color-text-accent-green-bolder: #baf3db;
  --color-text-accent-teal: #9dd9ee;
  --color-text-accent-teal-bolder: #c6edfb;
  --color-text-accent-blue: #8fb8f6;
  --color-text-accent-blue-bolder: #cfe1fd;
  --color-text-accent-purple: #d8a0f7;
  --color-text-accent-purple-bolder: #eed7fc;
  --color-text-accent-magenta: #f797d2;
  --color-text-accent-magenta-bolder: #fdd0ec;
  --color-text-accent-gray: #a9abaf;
  --color-text-accent-gray-bolder: #e2e3e4;
  --color-text-disabled: #e5e9f640;
  --color-text-inverse: #1f1f21;
  --color-text-selected: #669df1;
  --color-text-brand: #669df1;
  --color-text-danger: #fd9891;
  --color-text-warning: #fbc828;
  --color-text-warning-inverse: #1f1f21;
  --color-text-success: #b3df72;
  --color-text-discovery: #d8a0f7;
  --color-text-information: #8fb8f6;
  --color-text-subtlest: #96999e;
  --color-text-subtle: #a9abaf;
  --color-link: #669df1;
  --color-link-pressed: #8fb8f6;
  --color-link-visited: #d8a0f7;
  --color-link-visited-pressed: #eed7fc;
  --color-icon: #cecfd2;
  --color-icon-accent-lime: #82b536;
  --color-icon-accent-red: #e2483d;
  --color-icon-accent-orange: #f68909;
  --color-icon-accent-yellow: #eed12b;
  --color-icon-accent-green: #2abb7f;
  --color-icon-accent-teal: #42b2d7;
  --color-icon-accent-blue: #4688ec;
  --color-icon-accent-purple: #bf63f3;
  --color-icon-accent-magenta: #da62ac;
  --color-icon-accent-gray: #7e8188;
  --color-icon-disabled: #e5e9f640;
  --color-icon-inverse: #1f1f21;
  --color-icon-selected: #669df1;
  --color-icon-brand: #669df1;
  --color-icon-danger: #f15b50;
  --color-icon-warning: #fbc828;
  --color-icon-warning-inverse: #1f1f21;
  --color-icon-success: #b3df72;
  --color-icon-discovery: #bf63f3;
  --color-icon-information: #4688ec;
  --color-icon-subtlest: #96999e;
  --color-icon-subtle: #a9abaf;
  --color-border: #e3e4f21f;
  --color-border-accent-lime: #82b536;
  --color-border-accent-red: #f15b50;
  --color-border-accent-orange: #f68909;
  --color-border-accent-yellow: #cf9f02;
  --color-border-accent-green: #2abb7f;
  --color-border-accent-teal: #42b2d7;
  --color-border-accent-blue: #4688ec;
  --color-border-accent-purple: #bf63f3;
  --color-border-accent-magenta: #da62ac;
  --color-border-accent-gray: #7e8188;
  --color-border-disabled: #ceced912;
  --color-border-focused: #8fb8f6;
  --color-border-input: #7e8188;
  --color-border-inverse: #18191a;
  --color-border-selected: #669df1;
  --color-border-brand: #669df1;
  --color-border-danger: #f15b50;
  --color-border-warning: #f68909;
  --color-border-success: #82b536;
  --color-border-discovery: #bf63f3;
  --color-border-information: #4688ec;
  --color-border-bold: #7e8188;
  --color-background-accent-lime-subtlest: #28311b;
  --color-background-accent-lime-subtlest-hovered: #37471f;
  --color-background-accent-lime-subtlest-pressed: #4c6b1f;
  --color-background-accent-lime-subtler: #37471f;
  --color-background-accent-lime-subtler-hovered: #4c6b1f;
  --color-background-accent-lime-subtler-pressed: #5b7f24;
  --color-background-accent-lime-subtle: #4c6b1f;
  --color-background-accent-lime-subtle-hovered: #37471f;
  --color-background-accent-lime-subtle-pressed: #28311b;
  --color-background-accent-lime-bolder: #94c748;
  --color-background-accent-lime-bolder-hovered: #b3df72;
  --color-background-accent-lime-bolder-pressed: #d3f1a7;
  --color-background-accent-red-subtlest: #42221f;
  --color-background-accent-red-subtlest-hovered: #5d1f1a;
  --color-background-accent-red-subtlest-pressed: #ae2e24;
  --color-background-accent-red-subtler: #5d1f1a;
  --color-background-accent-red-subtler-hovered: #ae2e24;
  --color-background-accent-red-subtler-pressed: #c9372c;
  --color-background-accent-red-subtle: #ae2e24;
  --color-background-accent-red-subtle-hovered: #5d1f1a;
  --color-background-accent-red-subtle-pressed: #42221f;
  --color-background-accent-red-bolder: #f87168;
  --color-background-accent-red-bolder-hovered: #fd9891;
  --color-background-accent-red-bolder-pressed: #ffd5d2;
  --color-background-accent-orange-subtlest: #3a2c1f;
  --color-background-accent-orange-subtlest-hovered: #693200;
  --color-background-accent-orange-subtlest-pressed: #9e4c00;
  --color-background-accent-orange-subtler: #693200;
  --color-background-accent-orange-subtler-hovered: #9e4c00;
  --color-background-accent-orange-subtler-pressed: #bd5b00;
  --color-background-accent-orange-subtle: #9e4c00;
  --color-background-accent-orange-subtle-hovered: #693200;
  --color-background-accent-orange-subtle-pressed: #3a2c1f;
  --color-background-accent-orange-bolder: #fca700;
  --color-background-accent-orange-bolder-hovered: #fbc828;
  --color-background-accent-orange-bolder-pressed: #fce4a6;
  --color-background-accent-yellow-subtlest: #332e1b;
  --color-background-accent-yellow-subtlest-hovered: #533f04;
  --color-background-accent-yellow-subtlest-pressed: #7f5f01;
  --color-background-accent-yellow-subtler: #533f04;
  --color-background-accent-yellow-subtler-hovered: #7f5f01;
  --color-background-accent-yellow-subtler-pressed: #946f00;
  --color-background-accent-yellow-subtle: #7f5f01;
  --color-background-accent-yellow-subtle-hovered: #533f04;
  --color-background-accent-yellow-subtle-pressed: #332e1b;
  --color-background-accent-yellow-bolder: #ddb30e;
  --color-background-accent-yellow-bolder-hovered: #eed12b;
  --color-background-accent-yellow-bolder-pressed: #f5e989;
  --color-background-accent-green-subtlest: #1c3329;
  --color-background-accent-green-subtlest-hovered: #164b35;
  --color-background-accent-green-subtlest-pressed: #216e4e;
  --color-background-accent-green-subtler: #164b35;
  --color-background-accent-green-subtler-hovered: #216e4e;
  --color-background-accent-green-subtler-pressed: #1f845a;
  --color-background-accent-green-subtle: #216e4e;
  --color-background-accent-green-subtle-hovered: #164b35;
  --color-background-accent-green-subtle-pressed: #1c3329;
  --color-background-accent-green-bolder: #4bce97;
  --color-background-accent-green-bolder-hovered: #7ee2b8;
  --color-background-accent-green-bolder-pressed: #baf3db;
  --color-background-accent-teal-subtlest: #1e3137;
  --color-background-accent-teal-subtlest-hovered: #164555;
  --color-background-accent-teal-subtlest-pressed: #206a83;
  --color-background-accent-teal-subtler: #164555;
  --color-background-accent-teal-subtler-hovered: #206a83;
  --color-background-accent-teal-subtler-pressed: #227d9b;
  --color-background-accent-teal-subtle: #206a83;
  --color-background-accent-teal-subtle-hovered: #164555;
  --color-background-accent-teal-subtle-pressed: #1e3137;
  --color-background-accent-teal-bolder: #6cc3e0;
  --color-background-accent-teal-bolder-hovered: #9dd9ee;
  --color-background-accent-teal-bolder-pressed: #c6edfb;
  --color-background-accent-blue-subtlest: #1c2b42;
  --color-background-accent-blue-subtlest-hovered: #123263;
  --color-background-accent-blue-subtlest-pressed: #1558bc;
  --color-background-accent-blue-subtler: #123263;
  --color-background-accent-blue-subtler-hovered: #1558bc;
  --color-background-accent-blue-subtler-pressed: #1868db;
  --color-background-accent-blue-subtle: #1558bc;
  --color-background-accent-blue-subtle-hovered: #123263;
  --color-background-accent-blue-subtle-pressed: #1c2b42;
  --color-background-accent-blue-bolder: #669df1;
  --color-background-accent-blue-bolder-hovered: #8fb8f6;
  --color-background-accent-blue-bolder-pressed: #cfe1fd;
  --color-background-accent-purple-subtlest: #35243f;
  --color-background-accent-purple-subtlest-hovered: #48245d;
  --color-background-accent-purple-subtlest-pressed: #803fa5;
  --color-background-accent-purple-subtler: #48245d;
  --color-background-accent-purple-subtler-hovered: #803fa5;
  --color-background-accent-purple-subtler-pressed: #964ac0;
  --color-background-accent-purple-subtle: #803fa5;
  --color-background-accent-purple-subtle-hovered: #48245d;
  --color-background-accent-purple-subtle-pressed: #35243f;
  --color-background-accent-purple-bolder: #c97cf4;
  --color-background-accent-purple-bolder-hovered: #d8a0f7;
  --color-background-accent-purple-bolder-pressed: #eed7fc;
  --color-background-accent-magenta-subtlest: #3d2232;
  --color-background-accent-magenta-subtlest-hovered: #50253f;
  --color-background-accent-magenta-subtlest-pressed: #943d73;
  --color-background-accent-magenta-subtler: #50253f;
  --color-background-accent-magenta-subtler-hovered: #943d73;
  --color-background-accent-magenta-subtler-pressed: #ae4787;
  --color-background-accent-magenta-subtle: #943d73;
  --color-background-accent-magenta-subtle-hovered: #50253f;
  --color-background-accent-magenta-subtle-pressed: #3d2232;
  --color-background-accent-magenta-bolder: #e774bb;
  --color-background-accent-magenta-bolder-hovered: #f797d2;
  --color-background-accent-magenta-bolder-pressed: #fdd0ec;
  --color-background-accent-gray-subtlest: #303134;
  --color-background-accent-gray-subtlest-hovered: #3d3f43;
  --color-background-accent-gray-subtlest-pressed: #4b4d51;
  --color-background-accent-gray-subtler: #4b4d51;
  --color-background-accent-gray-subtler-hovered: #63666b;
  --color-background-accent-gray-subtler-pressed: #7e8188;
  --color-background-accent-gray-subtle: #63666b;
  --color-background-accent-gray-subtle-hovered: #4b4d51;
  --color-background-accent-gray-subtle-pressed: #3d3f43;
  --color-background-accent-gray-bolder: #96999e;
  --color-background-accent-gray-bolder-hovered: #a9abaf;
  --color-background-accent-gray-bolder-pressed: #bfc1c4;
  --color-background-disabled: #bdbdbd0a;
  --color-background-input: #242528;
  --color-background-input-hovered: #2b2c2f;
  --color-background-input-pressed: #242528;
  --color-background-inverse-subtle: #ffffff29;
  --color-background-inverse-subtle-hovered: #ffffff3d;
  --color-background-inverse-subtle-pressed: #ffffff52;
  --color-background-neutral: #ceced912;
  --color-background-neutral-hovered: #e3e4f21f;
  --color-background-neutral-pressed: #e5e9f640;
  --color-background-neutral-subtle: #00000000;
  --color-background-neutral-subtle-hovered: #ceced912;
  --color-background-neutral-subtle-pressed: #e3e4f21f;
  --color-background-neutral-bold: #cecfd2;
  --color-background-neutral-bold-hovered: #bfc1c4;
  --color-background-neutral-bold-pressed: #a9abaf;
  --color-background-selected: #1c2b42;
  --color-background-selected-hovered: #123263;
  --color-background-selected-pressed: #1558bc;
  --color-background-selected-bold: #669df1;
  --color-background-selected-bold-hovered: #8fb8f6;
  --color-background-selected-bold-pressed: #cfe1fd;
  --color-background-brand-subtlest: #1c2b42;
  --color-background-brand-subtlest-hovered: #123263;
  --color-background-brand-subtlest-pressed: #1558bc;
  --color-background-brand-bold: #669df1;
  --color-background-brand-bold-hovered: #8fb8f6;
  --color-background-brand-bold-pressed: #cfe1fd;
  --color-background-brand-boldest: #e9f2fe;
  --color-background-brand-boldest-hovered: #cfe1fd;
  --color-background-brand-boldest-pressed: #8fb8f6;
  --color-background-danger: #42221f;
  --color-background-danger-hovered: #5d1f1a;
  --color-background-danger-pressed: #ae2e24;
  --color-background-danger-bold: #f87168;
  --color-background-danger-bold-hovered: #fd9891;
  --color-background-danger-bold-pressed: #ffd5d2;
  --color-background-warning: #3a2c1f;
  --color-background-warning-hovered: #693200;
  --color-background-warning-pressed: #9e4c00;
  --color-background-warning-bold: #fbc828;
  --color-background-warning-bold-hovered: #fca700;
  --color-background-warning-bold-pressed: #f68909;
  --color-background-success: #28311b;
  --color-background-success-hovered: #37471f;
  --color-background-success-pressed: #4c6b1f;
  --color-background-success-bold: #94c748;
  --color-background-success-bold-hovered: #b3df72;
  --color-background-success-bold-pressed: #d3f1a7;
  --color-background-discovery: #35243f;
  --color-background-discovery-hovered: #48245d;
  --color-background-discovery-pressed: #803fa5;
  --color-background-discovery-bold: #c97cf4;
  --color-background-discovery-bold-hovered: #d8a0f7;
  --color-background-discovery-bold-pressed: #eed7fc;
  --color-background-information: #1c2b42;
  --color-background-information-hovered: #123263;
  --color-background-information-pressed: #1558bc;
  --color-background-information-bold: #669df1;
  --color-background-information-bold-hovered: #8fb8f6;
  --color-background-information-bold-pressed: #cfe1fd;
  --color-blanket: #10121499;
  --color-blanket-selected: #1d7afc14;
  --color-blanket-danger: #e3493514;
  --color-interaction-hovered: #ffffff33;
  --color-interaction-pressed: #ffffff5c;
  --color-skeleton: #ceced912;
  --color-skeleton-subtle: #bdbdbd0a;
  --color-chart-categorical-1: #4688ec;
  --color-chart-categorical-1-hovered: #669df1;
  --color-chart-categorical-2: #94c748;
  --color-chart-categorical-2-hovered: #b3df72;
  --color-chart-categorical-3: #c97cf4;
  --color-chart-categorical-3-hovered: #d8a0f7;
  --color-chart-categorical-4: #fca700;
  --color-chart-categorical-4-hovered: #fbc828;
  --color-chart-categorical-5: #1558bc;
  --color-chart-categorical-5-hovered: #1868db;
  --color-chart-categorical-6: #964ac0;
  --color-chart-categorical-6-hovered: #af59e1;
  --color-chart-categorical-7: #42b2d7;
  --color-chart-categorical-7-hovered: #6cc3e0;
  --color-chart-categorical-8: #e06c00;
  --color-chart-categorical-8-hovered: #f68909;
  --color-chart-lime-bold: #82b536;
  --color-chart-lime-bold-hovered: #94c748;
  --color-chart-lime-bolder: #94c748;
  --color-chart-lime-bolder-hovered: #b3df72;
  --color-chart-lime-boldest: #b3df72;
  --color-chart-lime-boldest-hovered: #d3f1a7;
  --color-chart-neutral: #7e8188;
  --color-chart-neutral-hovered: #96999e;
  --color-chart-red-bold: #e2483d;
  --color-chart-red-bold-hovered: #f15b50;
  --color-chart-red-bolder: #f15b50;
  --color-chart-red-bolder-hovered: #f87168;
  --color-chart-red-boldest: #fd9891;
  --color-chart-red-boldest-hovered: #ffd5d2;
  --color-chart-orange-bold: #f68909;
  --color-chart-orange-bold-hovered: #fca700;
  --color-chart-orange-bolder: #fca700;
  --color-chart-orange-bolder-hovered: #fbc828;
  --color-chart-orange-boldest: #fbc828;
  --color-chart-orange-boldest-hovered: #fce4a6;
  --color-chart-yellow-bold: #cf9f02;
  --color-chart-yellow-bold-hovered: #ddb30e;
  --color-chart-yellow-bolder: #ddb30e;
  --color-chart-yellow-bolder-hovered: #eed12b;
  --color-chart-yellow-boldest: #eed12b;
  --color-chart-yellow-boldest-hovered: #f5e989;
  --color-chart-green-bold: #2abb7f;
  --color-chart-green-bold-hovered: #4bce97;
  --color-chart-green-bolder: #4bce97;
  --color-chart-green-bolder-hovered: #7ee2b8;
  --color-chart-green-boldest: #7ee2b8;
  --color-chart-green-boldest-hovered: #baf3db;
  --color-chart-teal-bold: #42b2d7;
  --color-chart-teal-bold-hovered: #6cc3e0;
  --color-chart-teal-bolder: #6cc3e0;
  --color-chart-teal-bolder-hovered: #9dd9ee;
  --color-chart-teal-boldest: #9dd9ee;
  --color-chart-teal-boldest-hovered: #c6edfb;
  --color-chart-blue-bold: #357de8;
  --color-chart-blue-bold-hovered: #4688ec;
  --color-chart-blue-bolder: #4688ec;
  --color-chart-blue-bolder-hovered: #669df1;
  --color-chart-blue-boldest: #8fb8f6;
  --color-chart-blue-boldest-hovered: #cfe1fd;
  --color-chart-purple-bold: #af59e1;
  --color-chart-purple-bold-hovered: #bf63f3;
  --color-chart-purple-bolder: #bf63f3;
  --color-chart-purple-bolder-hovered: #c97cf4;
  --color-chart-purple-boldest: #d8a0f7;
  --color-chart-purple-boldest-hovered: #eed7fc;
  --color-chart-magenta-bold: #cd519d;
  --color-chart-magenta-bold-hovered: #da62ac;
  --color-chart-magenta-bolder: #da62ac;
  --color-chart-magenta-bolder-hovered: #e774bb;
  --color-chart-magenta-boldest: #f797d2;
  --color-chart-magenta-boldest-hovered: #fdd0ec;
  --color-chart-gray-bold: #7e8188;
  --color-chart-gray-bold-hovered: #96999e;
  --color-chart-gray-bolder: #96999e;
  --color-chart-gray-bolder-hovered: #a9abaf;
  --color-chart-gray-boldest: #a9abaf;
  --color-chart-gray-boldest-hovered: #bfc1c4;
  --color-chart-brand: #4688ec;
  --color-chart-brand-hovered: #669df1;
  --color-chart-danger: #e2483d;
  --color-chart-danger-hovered: #f15b50;
  --color-chart-danger-bold: #f87168;
  --color-chart-danger-bold-hovered: #fd9891;
  --color-chart-warning: #f68909;
  --color-chart-warning-hovered: #fca700;
  --color-chart-warning-bold: #fbc828;
  --color-chart-warning-bold-hovered: #fce4a6;
  --color-chart-success: #82b536;
  --color-chart-success-hovered: #94c748;
  --color-chart-success-bold: #b3df72;
  --color-chart-success-bold-hovered: #d3f1a7;
  --color-chart-discovery: #bf63f3;
  --color-chart-discovery-hovered: #c97cf4;
  --color-chart-discovery-bold: #d8a0f7;
  --color-chart-discovery-bold-hovered: #eed7fc;
  --color-chart-information: #4688ec;
  --color-chart-information-hovered: #669df1;
  --color-chart-information-bold: #8fb8f6;
  --color-chart-information-bold-hovered: #cfe1fd;
  --color-surface: #1f1f21;
  --color-surface-hovered: #242528;
  --color-surface-pressed: #2b2c2f;
  --color-surface-overlay: #2b2c2f;
  --color-surface-overlay-hovered: #303134;
  --color-surface-overlay-pressed: #3d3f43;
  --color-surface-raised: #242528;
  --color-surface-raised-hovered: #2b2c2f;
  --color-surface-raised-pressed: #303134;
  --color-surface-sunken: #18191a;
  --color-shadow-overflow: 0px 0px 12px #0104048f, 0px 0px 1px #01040480;
  --color-shadow-overflow-perimeter: #01040480;
  --color-shadow-overflow-spread: #0104048f;
  --color-shadow-overlay:
    0px 0px 0px 1px #bdbdbd1f, 0px 8px 12px #0104045c, 0px 0px 1px 1px #01040480;
  --color-shadow-raised: 0px 0px 0px 1px #00000000, 0px 1px 1px #01040480, 0px 0px 1px #01040480;
  --color-opacity-disabled: 0.4;
  --color-opacity-loading: 0.2;
  --color-UNSAFE-transparent: transparent;
  --color-elevation-surface-current: #1f1f21;
}
